body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
}

.container {
    text-align: center;
    background-color: #aa153b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: #1d4775;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    color: #ccc;
}

input {
    flex: 2;
    padding: 10px;
    margin: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-weight: bold;
    color: #4caf50;
    margin-top: 20px;
}
